/UserSettings
/Library
/obj
/*.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/AssemblySecond.csproj
/UniRx.Examples.csproj
/UniRx.csproj
/UniRxTests.csproj
/Zenject-IntegrationTests-Editor.csproj
/Zenject-IntegrationTests.csproj
/Zenject-PoolMonitor-Editor.csproj
/Zenject-ReflectionBaking-Editor.csproj
/Zenject.csproj
/.idea
/Temp
